@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$text: #efe9f2;
// $pink: #ef70a4;
$red: #ea3c3c;
$purple: #81546B;

$transition: all 0.3s ease;
// $box-shadow: 0px 10px 20px 0px rgba(60, 52, 63, 0.5);
$box-shadow: 0px 5px 10px 0px rgba(0, 9, 50, 0.5);

@mixin flex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

.button {
  background-color: transparent;
  border: 2px solid $red;
  border-radius: 5px;
  font-weight: 500;
  color: $red;
  transition: background-color .3s ease, color .3s ease;
  &:hover {
    background-color: $red;
    color: white;
    cursor: pointer;
  }
  &:active {
    background-color: transparent;
    color: $red;
  }
}

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: white;
}

body {
  // background-image: radial-gradient(circle, #000428, #031a40, #062a5a, #073b75, #004e92);
  background-image: radial-gradient(circle, #141e30, #182539, #1c2c42, #20334b, #243b55);
  background-attachment: fixed;
}

.debug {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  display: none;
}

.search {
  position: relative;
  width: 100%;
  max-width: 700px;
  margin: auto;
  margin-top: 50px;
  @include flex(center, center);
  flex-direction: column;
  #logo {
    z-index: 1;
  }
  #loader {
    position: absolute;
    top: -15px;
    transition: all .5s linear;
    height: 175px;
  }
  .search--wrapper {
    width: 100%;
    margin-top: 30px;
    padding: 10px;
    @include flex(center, center);
    #search--input {
      background-color: #bcbabc5c;
      width: 100%;
      padding: 20px 120px 20px 30px;
      font-size: 1.2rem;
      border-radius: 30px;
      color: $text;
      outline: none;
      box-shadow: $box-shadow;
      &::placeholder {
        color: #bbb7bc;
      }
    }
    #search--button {
      position: absolute;
      right: -80px;
      padding: 7px 14px;
      width: 80px;
      font-size: 0.9rem;
      font-weight: 500;
      background-color: transparent;
      color: lightgray;
      border: 2px solid $red;
      border-radius: 25px;
      transform: translateX(calc(-100% - 20px));
      transition: $transition;
      &:hover {
        background-color: $red;
        color: white;
        cursor: pointer;
      }
    }
  }
  .youtubeData--wrapper {
    width: 100%;
    max-width: 700px;
    margin-top: 50px;
    min-height: 140px;
    overflow: hidden;
    .youtubeData {
      @include flex(center, center);
      gap: 20px;
      padding: 20px;
      border-radius: 15px;
      transition: $transition;
      img {
        border-radius: 5px;
        box-shadow: $box-shadow;
      }
      h3 {
        text-shadow: 2px 3px 6px rgba(106,100,112,0.5);
      }
      button {
        margin-top: 10px;
        box-shadow: $box-shadow;
      }
    }
  }
}

.serverFiles {
  padding: 10px;
  @include flex(center, center);
  flex-direction: column;
  margin-bottom: 30px;
  h3 {
    font-size: 1.3rem;
    margin-bottom: 10px;
    padding-bottom: 5px;
    color: $red;
  }
  .file {
    @include flex(space-between, center);
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
    max-width: 700px;
    margin: 10px auto;
    padding: 15px;
    border-radius: 5px;
    box-shadow: $box-shadow;
    .file--title {
      font-weight: 500;
    }
    .file--buttons {
      @include flex(center, center);
      gap: 10px;
      button {
        box-shadow: $box-shadow;
        border: 0;
      }
    }
  }
  #load--more {
    margin-top: 10px;
    box-shadow: $box-shadow;
  }
}

#audioPlayer {
  display: none;
  // &::-webkit-media-controls-panel {
  // }
  // &::-webkit-media-controls-play-button {
  // }
}
